{% extends "layout.html"%}
{% block body %}

<header class="masthead" style="background-image: url('../static/images/Error.jpg');">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h1>Error</h1>
        </div>
      </div>
    </div>
  </div>
</header>
<div class = "container-fluid px-0 pb-0">
<div class="album py-5 bg-dark">
<div class="container text-center text-white">
  <p>Make sure you have given the correct end point</p>
  <p>May be a issue from server-side</p>
  <p>May be beacuse you trying to create a duplicate XMEME</p>

</div>

</div>
</div>








{% endblock %}